<?xml version="1.0"?>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>404 Not Found</title>
    <style type="text/css">
      body {
        background-color: #ffffff;
        font-family: sans-serif;
        color: #000000;
      }
      h1 {
        color: #0000ff;
      }
      #black {
        color: #000000;
        float: left;
      }
    </style>
  </head>
  <body>
    <h1><div id="black">404</div>&#160;Not Found</h1>
    <p>
      Take a deep breath and start shouting
    </p>

<b>NOTE:</b>
<p>
This message is sent to you by the balancer.
Please remove <i>WEB-INF/templates/404.html</i> in order to retrieve the content from the corresponding cluster node.
</p>
  </body>
</html>
