<?xml version="1.0"?>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>503 Service Unavailable</title>
    <style type="text/css">
      body {
        background-color: #ffffff;
        font-family: sans-serif;
        color: #000000;
      }
      h1 {
        color: #0000ff;
      }
      #black {
        color: #000000;
        float: left;
      }
    </style>
  </head>
  <body>
    <h1><div id="black">500</div>&#160;Internal Server Error</h1>
    <p>
      Take a deep breath and start shouting
    </p>
  </body>
</html>
